@font-face {
    font-family: "Inter";
    src: local("Inter-Regular"),
        url("../assets/Inter-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter-Medium";
    src: local("Inter-Medium"),
        url("../assets/Inter-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.title {
    margin-bottom: 24px;
    font-family: "Inter-Medium";
    font-size: 13px;
    line-height: 120%;
    color: #111827;
}

.input-file {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.input-file-btn {
    padding: 12px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    background-color: transparent;
    cursor: pointer;
    font-family: "Inter";
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.01em;
    color: #384252;
}

.input-file-text {
    padding: 0 16px;
    font-family: "Inter";
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.01em;
    color: #9ca3b0;
}

.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.text {
    font-family: "Inter";
    font-size: 13px;
    line-height: 120%;
    color: #6b7280;
}